{% extends 'site/templates/_layout.twig' %}

{% block main %}
  <div class="title-with-options">
    <h1>{{ page.title }}</h1>
    {% if reports %}
      <div class="table-options">
        <div class="option">
          <select data-filter="year" data-table="reports">
            {% for year in years|reverse %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
  </div>
  {% if reports %}
    <table class="loading" id="reports">
      <tbody>
        {% for report in reports %}
          <tr data-year="{{ report.year }}"><td><a href="{{ report.url }}">{{ report.name }}</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no reports in the database.</p>
  {% endif %}
{% endblock %}
