{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% if reports %}
    {% embed 'site/_embed/title-with-options.twig' %}
      {% block option %}
        <select data-filter="year" data-table="reports">
          {% for year in years|reverse %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      {% endblock %}
    {% endembed %}
    <table class="loading" id="reports">
      <tbody>
        {% for report in reports %}
          <tr data-year="{{ report.year }}"><td><a href="{{ report.url }}">{{ report.name }}</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>{{ page.title }}</h1>
    <p>There are no reports in the database.</p>
  {% endif %}
{% endblock %}
