{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}
    {% block right %}
      {% if reports|length > 0 %}
        <select data-filter="year" data-table="reports">
          {% for year in years|reverse %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      {% endif %}
    {% endblock %}
  {% endembed %}
  {% if reports|length > 0 %}
    <table class="loading" id="reports">
      <tbody>
        {% for report in reports %}
          <tr data-year="{{ report.subpath }}"><td><a href="{{ report.url }}">{{ report.name }}</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no reports in the database.</p>
  {% endif %}
{% endblock %}
