{% extends 'conference/_layout-papers.twig' %}

{% block title %}Submission Details &amp; Decision{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}{{ submission.id }}. {{ submission }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('conference_submission_index') }}" class="button"><i class="fas fa-chevron-left"></i>All Submissions</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'conference/submission/_submission-tabs.twig' %}
      <h2>Decision</h2>
      {% if submission.decisionEmailed %}
        <p>This paper has been {{ submission.status }}, and {{ submission.user }} was informed of the decision on {{ submission.dateDecisionEmailed|date('m/d/Y') }}.</p>
      {% else %}
        <p>Use the dropwdown menu below to record your decision for this paper. Decisions recorded here are provisional and can be changed at any time. Once you send the decision email, however, the decision will be considered final and you will no longer be able to change it.</p>
        <div class="inline-form">
        {{ form_start(submissionDecisionForm) }}
          {{ form_row(submissionDecisionForm.accepted) }}
          {{ form_row(submissionDecisionForm._token) }}
          <div class="buttons">
            <button type="submit" class="button update">Update Decision</button>
            {% if submission.status != 'pending' %}
              <a href="{{ path('conference_submission_email_decision', { submission: submission.id }) }}" class="button">Send Decision Email</a>
            {% else %}
              <button disabled>Send Decision Email</button>
            {% endif %}
          </div>
        {{ form_end(submissionDecisionForm) }}
        </div>
      {% endif %}
      <h2>Details</h2>
      <table class="submission-table">
        <tbody>
          <tr><th>Title</th><td>{{ submission }}</td></tr>
          <tr><th>Original File</th><td><a href="{{ path('uploads_submission', { submission: submission.id }) }}">{{ submission.filename }}</a></td></tr>
          <tr><th>Final File</th><td>{% if submission.status == 'submitted' %}<a href="{{ path('uploads_final_submission', { submission: submission.id }) }}">{{ submission.finalFilename }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th>Authors</th><td>{{ submission.authors }}</td></tr>
          <tr><th>Submitted By</th><td>{{ submission.user }}</td></tr>
          <tr><th>Keywords</th><td><input type="text" value="{{ submission.keywords }}" data-keywords="{{ submission.id }}"></td></tr>
          <tr><th>Abstract</th><td>{{ submission.abstract }}</td></tr>
        </tbody>
      </table>
    {% endblock %}
  {% endembed %}
{% endblock %}
