{% extends 'site/base.twig' %}

{% block sidebar %}
  <a href="{{ path('account_index') }}"{% if page.id == 'details' %} class="is-active"{% endif %}>Personal Information</a>
  <a href="{{ path('account_research') }}"{% if page.id == 'research' %} class="is-active"{% endif %}>Submissions &amp; Reviews</a>
  <a href="{{ path('account_password') }}"{% if page.id == 'password' %} class="is-active"{% endif %}>Change Password</a>
  <a href="{{ path('account_pay') }}"{% if page.id == 'pay' %} class="is-active"{% endif %}>{% if app.user.isMember %}Pay Dues{% else %}Join the Society{% endif %}</a>
  <a href="{{ path('security_logout') }}">Sign Out</a>
  {% if is_granted('ROLE_ADMIN') %}
    <br>
    <a href="{{ path('admin_index') }}">Site Admin</a>
  {% endif %}
{% endblock %}
