{% extends 'site/account/_layout.twig' %}

{% block title %}Change Password{% endblock %}

{% block main %}
  <div class="section content">
    <h1>Change Password</h1>
    <p>Use the form below to change your password. For security, you must enter your existing password as well.</p>
    {{ form_start(userChangePasswordForm) }}
      {{ form_row(userChangePasswordForm.old_password) }}
      {{ form_row(userChangePasswordForm.new_password) }}
      {{ form_row(userChangePasswordForm._token) }}
      <div class="buttons">
        <button type="submit" class="button is-success">Change Password</button>
      </div>
    {{ form_end(userChangePasswordForm) }}
  </div>
{% endblock %}
