{{ form_start(newsItemForm) }}
{{ form_row(newsItemForm.category) }}
{{ form_row(newsItemForm.title) }}
<div class="columns">
  <div class="column">
    {{ form_row(newsItemForm.date) }}
  </div>
  <div class="column">
    {{ form_row(newsItemForm.end) }}
  </div>
</div>
{{ form_row(newsItemForm.content) }}
{{ form_row(newsItemForm._token) }}
<div class="buttons">
  <button class="button {% if create is defined and create %}create{% else %}update{% endif %}" type="submit">{% if create is defined and create %}Create{% else %}Update{% endif %}</button>
</div>
{{ form_end(newsItemForm) }}
