{% extends 'site/account/research/_layout.twig' %}

{% block content %}
  <div class="section content">
    <h4>Review Invitations for the {{ conference }}</h4>
    <table>
      <thead>
      </thead>
      <tbody>
        {% for review in reviews %}
          <tr>
            <td>{{ review.submission.title }}</td>
            <td>{{ review.status }}</td>
            <td>
              {% if review.status == 'accepted' %}
                <a href="{{ path('review_index', { reviewerSecret: review.reviewer.secret, reviewSecret: review.secret }) }}">submit review</a>
              {% elseif review.status == 'pending' %}
                <a href="{{ path('review_index', { reviewerSecret: review.reviewer.secret, reviewSecret: review.secret, reply: 'accept' }) }}">accept invitation</a> | <a href="{{ path('review_index', { reviewerSecret: review.reviewer.secret, reviewSecret: review.secret, reply: 'decline' }) }}">decline invitation</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
