{% extends 'site/account/research/_layout.twig' %}

{% block content %}
  <div class="section content">
    <h4>Submissions for the {{ conference }}</h4>
    {% if submission == null and conference.open %}
      <p class="conference-notice">Submissions for the {{ conference }} in {{ conference.town }} are now open. They will remain open until midnight (Pacific Time) on {{ conference.deadline|date('F jS') }}. Please submit your paper using the form below.</p>
      {% if guidanceText is defined %}{{ guidanceText|raw }}{% endif %}
      {% include 'site/_form/conference-submission.twig' %}
    {% elseif submission %}
      <nav class="tabs">
        <a data-tab="decision" class="is-active">Decision</a>
        {% if submission.status != 'pending' %}
          {% for review in submission.reviews %}
            {% if review.status == 'submitted' %}
              <a data-tab="review{{ loop.index }}">Review {{ loop.index }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if submission.accepted %}
          <a data-tab="comments">Commentator</a>
        {% endif %}
      </nav>
      <div class="tab-panes">
        <div class="tab-pane is-active" id="decision">
          {% if submission.status == 'pending' %}
            <p>Thank you for submitting your paper, {{ submission }}. We will email you when a decision has been made. You can also check the status of your submission on this page at any time.</p>
          {% elseif submission.status == 'rejected' %}
            <p>We regret to inform you that your paper has not been accepted for the {{ conference }}. You can read your reviewers&rsquo; comments via the tabs above.</p>
          {% else %}
            <p>We are pleased to inform you that your paper has been accepted for the {{ conference }}. You can read your reviewers&rsquo; comments and see details about the commentator for you paper via the tabs above.</p>
            {% if submission.status == 'accepted' %}
              <p>Please indicate whether you will be able to deliver your paper at the {{ conference }} using the buttons below.</p>
              <div class="invitation-buttons">
                <a href="{{ path('account_research_submissions', { reply: 'decline' }) }}" class="button delete">Decline Invitation</a>
                <a href="{{ path('account_research_submissions', { reply: 'accept' }) }}" class="button create">Accept Invitation</a>
              </div>
            {% elseif submission.status == 'declined' %}
              <p>You have declined the invitation to deliver your paper at the {{ conference }}. Thank you for letting us know.</p>
            {% elseif submission.status == 'confirmed' %}
              <p>Thank you for confirming your attendance at the {{ conference }}. Please use the form below to upload the final version of your paper.</p>
              {% include 'site/_form/conference-submission-final.twig' %}
            {% else %}
              <p>Thank you for uploading the final version of your paper.</p>
            {% endif %}
          {% endif %}
        </div>
        {% if submission.status != 'pending' %}
          {% for review in submission.reviews %}
            {% if review.status == 'submitted' %}
              <div class="tab-pane" id="review{{ loop.index }}">
                <p><strong>Grade:</strong> {{ review.grade }}</p>
                <p><strong>Comments</strong></p>
                <pre>{{ review.commentsForAuthor }}</pre>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if submission.accepted %}
          <div class="tab-pane" id="comments">
            {% if submission.comment %}
              <p>The commentator for your paper is {{ submission.comment.user }}</p>
              {% if submission.comment.submitted %}
                <p>The commentary has been submitted and is available for download: <a href="{{ path('uploads_comment', { comment: submission.comment.id }) }}">{{ submission.comment.filename }}</a>.</p>
              {% else %}
                <p>The commentary has not yet been submitted.</p>
              {% endif %}
            {% else %}
              <p>A commentator has not yet been assigned to your paper.</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
