{% if conference.papers|length > 0 %}
  <div class="list">
    {% for paper in conference.papers %}
      <div class="list-item">
        <div class="heading">
          <div class="left">
            <h3>{% if paper.submitted %}
              <a href="{{ path('uploads_paper', { paper: paper.id }) }}">{{ paper }}</a>
            {% else %}
              {{ paper }}
            {% endif %}</h3>
            <h4>by {{ paper.user }}</h4>
          </div>
          {% if paper.status == 'pending' %}
            <div class="right">
              <a href="{{ path('admin_conference_paper_reminder', { paper: paper.id }) }}" class="button">email reminder</a>
              {% include 'admin/_include/reminder-summary.twig' with { invitation: paper } %}
            </div>
          {% endif %}
          <div class="right"><i class="{{ paper.statusIcon }}"></i> {{ paper.status }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>You have not invited anyone to speak at the {{ conference }}.</p>
{% endif %}
