{% extends 'admin/conference/_layout.twig' %}

{% block title %}Invited Speakers{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}{{ paper }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_paper_index') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Invited Papers</a>
      </div>
    {% endblock %}
    {% block body %}
      <table>
        <tbody>
          <tr><th>Title</th><td>{{ paper.submitted ? paper : 'pending' }}</td></tr>
          <tr>
            <th>File</th>
            <td>
              {% if paper.submitted %}
                <a href="{{ path('uploads_paper', { paper: paper.id }) }}">{{ paper.filename }}</a>
              {% else %}
                pending
              {% endif %}
            </td>
          </tr>
          <tr><th>Author</th><td>{{ paper.user }}</td></tr>
          <tr><th>Abstract</th><td>{{ paper.abstract ?: 'pending' }}</td></tr>
        </tbody>
      </table>
    {% endblock %}
  {% endembed %}
{% endblock %}
