{% extends 'admin/conference/_layout.twig' %}

{% block title %}Conference Details{% endblock %}

{% block main %}
  <div class="box content">
    <h5>Conference Details</h5>
    <div class="tabs">
      <a data-tab="details"{% if tab == 'details' %} class="is-active"{% endif %}>Details</a>
      <a data-tab="files"{% if tab == 'files' %} class="is-active"{% endif %}>Files</a>
      <a data-tab="deadline"{% if tab == 'deadline' %} class="is-active"{% endif %}>Submission Deadline</a>
    </div>
    <div class="tab-pane{% if tab == 'details' %} is-active{% endif %}" id="details">
      {{ form_start(conferenceForm) }}
        <div class="columns hidden">
          <div class="column">
            {{ form_row(conferenceForm.number) }}
          </div>
          <div class="column">
            {{ form_row(conferenceForm.year) }}
          </div>
        </div>
        <div class="columns">
          <div class="column">
            {{ form_row(conferenceForm.startDate) }}
          </div>
          <div class="column">
            {{ form_row(conferenceForm.endDate) }}
          </div>
        </div>
        {{ form_row(conferenceForm.institution) }}
        <div class="columns">
          <div class="column">
            {{ form_row(conferenceForm.town) }}
          </div>
          <div class="column">
            {{ form_row(conferenceForm.country) }}
          </div>
        </div>
        {{ form_row(conferenceForm.website) }}
        {{ form_row(conferenceForm._token) }}
        <div class="buttons">
          <button type="submit" class="button">Update</button>
        </div>
      {{ form_end(conferenceForm) }}
    </div>
    <div class="tab-pane{% if tab == 'files' %} is-active{% endif %}" id="files">
      <div class="heading">
        <h6></h6>
        <div class="heading-right">
          {{ form_start(uploadForm ) }}
            <div class="input">
              {{ form_row(uploadForm.file) }}
              {{ form_row(uploadForm._token) }}
            </div>
            <div class="input">
              <button type="submit" class="button">Upload</button>
            </div>
          {{ form_end(uploadForm) }}
        </div>
      </div>
      <p>Certain associations are automatically created for you. If you upload a file called 'CFP.pdf' or 'cfp.html', this will serve as the call for papers for that conference. If you upload a file called 'splash.jpg', 'splash.gif', or 'splash.png', this image will be displayed in the box for this conference on the home page and the forthcoming conferences page. If you upload a file called 'program.pdf' or 'program.html', this will serve as the conference program. Finally, if you upload a file called 'index.html', this will serve as the home page of the conference web site. Any other HTML file can be uploaded here and linked to from that home page; in this way, a local archive of the conference web site can be created for posterity.</p>
      {% if conference.uploads %}
        <table>
          <thead>
            <tr>
              <th style="width:100%">Filename</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for upload in conference.uploads %}
              <tr>
                <td>
                  {{ upload.filename }}
                  {% if upload == conference.splash %} (splash image){% endif %}
                  {% if upload == conference.cfp %} (call for papers){% endif %}
                  {% if upload == conference.program %} (program){% endif %}
                  {% if upload == conference.site %} (web site index){% endif %}
                </td>
                <td class="controls">
                  <a href="{{ upload.url }}">View</a>
                  <a href="{{ path('admin_content_conference_delete_upload', { id: conference.id, filename: upload.filename }) }}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>There are no files associated with this conference.</p>
      {% endif %}
    </div>
  <div class="tab-pane{% if tab == 'deadline' %} is-active{% endif %}" id="deadline">
      <p>...</p>
    </div>
  </div>
{% endblock %}
