<div class="submissions" id="submissions">
  {% for submission in conference.submissions %}
    <div class="submission" data-status="{{ submission.status }}" data-keyword="{{ submission.keywords }}">
      <div class="heading">
        <h5><a href="{{ path('admin_conference_submission_details', { submission: submission.id }) }}">{{ submission.title }}</a></h5>
        <p>{{ submission.status }}</p>
      </div>
      <div class="authors">by {{ submission.authors }} (submitted by {{ submission.user.fullname }})</div>
      <div class="keywords">
        <input type="text" value="{{ submission.keywords }}" data-keywords="{{ submission.id }}">
      </div>
    </div>
  {% endfor %}
</div>
