{% extends 'admin/conference/_layout.twig' %}

{% block title %}Edit Conference Files{% endblock %}

{% block main %}
  <div class="box content">
    <h5>Upload/Change Image for Conference {{ conference.number }} ({{ conference.year }})</h5>
    {% if conference.image %}
      <p>The image below is associated with this conference. Upload a new image through this form to overwrite it.</p>
      <img class="preview" src="/uploads/{{ conference.image.directory }}{{ conference.image.filename }}">
    {% else %}
      <p>There is currently no image associated with this conference. Use this form to upload one.</p>
    {% endif %}
    {{ form_start(imageForm) }}
      {{ form_row(imageForm.file) }}
      {{ form_row(imageForm._token) }}
      <div class="buttons">
        <button type="submit" class="button is-success">Upload New Image File</button>
      </div>
    {{ form_end(imageForm) }}
  </div>
  <div class="box content">
    <h5>Upload/Change CFP for Conference {{ conference.number }} ({{ conference.year }})</h5>
    {% if conference.cfp %}
      <p>The file <a href="/uploads/{{ conference.cfp.directory }}{{ conference.cfp.filename }}">{{ conference.cfp.name }}</a> is associated with this conference. Upload a new CFP through this form to overwrite it.</p>
    {% else %}
      <p>There is currently no CFP associated with this conference. Use this form to upload one.</p>
    {% endif %}
    {{ form_start(cfpForm) }}
      {{ form_row(cfpForm.file) }}
      {{ form_row(cfpForm._token) }}
      <div class="buttons">
        <button type="submit" class="button is-success">Upload New CFP File</button>
      </div>
    {{ form_end(cfpForm) }}
  </div>
{% endblock %}
