{% extends 'site/invitation/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p><strong>Title:</strong> {{ review.submission.title }}</p>
  <p><strong>Paper: </strong> <a href="{{ path('uploads_submission', { submission: review.submission.id, secret: review.secret }) }}">{{ review.submission.filename }}</a></p>
  <p><strong>Abstract:</strong> {{ review.submission.abstract }}</p>
  {% if reviewInstructions %}{{ reviewInstructions|raw }}{% endif %}
  {{ form_start(reviewForm) }}
    {{ form_row(reviewForm.grade) }}
    {{ form_row(reviewForm.comments) }}
    <div class="buttons">
      <button type="submit">Submit Review</button>
    </div>
  {{ form_end(reviewForm) }}
{% endblock %}
