<p>In the list below, the <em>willing</em> field shows whether the reviewer has explicitly indicated a willingness to receive invitations to review (a “no” in this field does not necessarily mean they are unwilling). The <em>invited</em> and <em>accepted</em> fields show, respectively, how many review invitations they have received and how many they have accepted since this system was put in place.</p>
<table>
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Keywords</th>
      <th>Willing</th>
      <th>Invited</th>
      <th>Accepted</th>
    </tr>
  </thead>
  <tbody>
    {% for reviewer in reviewers %}
      <tr>
        <td>{{ reviewer }}</td>
        <td>{{ reviewer.keywords }}</td>
        <td>{{ reviewer.willingToReview ? 'yes' : 'no' }}</td>
        <td>{{ reviewer.reviews|length }}</td>
        <td>{{ reviewer.acceptedReviews|length }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
