{% extends 'conference/_layout-papers.twig' %}

{% block title %}Chairs{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
{% block title %}Chairs{% endblock %}
    {% block header_right %}
      {% if conference.submissions|length > 0 %}
        <div class="input">
          <label for="show-progress">Progress:</label>
          <select id="show-progress" data-filter="progress" data-table="submissions">
            <option value="all">all</option>
            <option value="invitedLT1">invited &lt; 1</option>
            <option value="acceptedLT1">1 invited, accepted &lt; 1</option>
            <option value="accepted1">1 accepted</option>
          </select>
        </div>
      {% endif %}
    {% endblock %}
    {% block body %}
      {% if conference.submissions|length > 0 %}
        <p>Below is a list of all the submissions to the {{ conference }}. Using the dropdown menus above you can filter the list by keyword and status. Keywords are entered by users when they submit their paper, but can then be edited here however you wish. Users will not see the modifications you make to their keywords.</p>
        <p>Click on the title of a submission to view more details and download the paper. From there you can also manage the reviews for that paper, enter your decision, and send an email informing the user of that decision.</p>
        <div class="list" id="submissions">
          {% for submission in conference.submissions %}
            <div class="submission" data-progress="{{ submission.chairProgress }}" data-keyword="{{ submission.keywords }}">
              <div class="submission-heading">
                <div class="title">
                  <h3><a href="{{ path('conference_submission_view', { submission: submission.id }) }}">{{ submission.id }}. {{ submission.title }}</a></h3>
                  <h4>by {{ submission.authors }} (submitted by {{ submission.user.fullname }})</h4>
                </div>
              </div>
              <div class="submission-body">
                {% if submission.chairs|length > 0 %}
                  {% for chair in submission.chairs %}
                    <div class="review-summary">
                      <div class="user">{{ chair.user }}</div>
                      {% include 'conference/submission/_invitation-status.twig' with { invitation: chair } %}
                    </div>
                  {% endfor %}
                {% else %}
                  <p>No one has been invited to chair the session on this paper.</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no submissions for the {{ conference }}.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
