{{ form_start(conferenceForm) }}
  <div class="columns{% if hideBasics is defined and hideBasics %} hidden{% endif %}">
    <div class="column">
      {{ form_row(conferenceForm.number) }}
    </div>
    <div class="column">
      {{ form_row(conferenceForm.year) }}
    </div>
  </div>
  <div class="columns">
    <div class="column">
      {{ form_row(conferenceForm.startDate) }}
    </div>
    <div class="column">
      {{ form_row(conferenceForm.endDate) }}
    </div>
  </div>
  {{ form_row(conferenceForm.institution) }}
  <div class="columns">
    <div class="column">
      {{ form_row(conferenceForm.town) }}
    </div>
    <div class="column">
      {{ form_row(conferenceForm.country) }}
    </div>
  </div>
  {{ form_row(conferenceForm.website) }}
  {{ form_row(conferenceForm._token) }}
  <div class="buttons">
    <button class="button {% if create is defined and create %}create{% else %}update{% endif %}" type="submit">{% if create is defined and create %}Create{% else %}Update{% endif %}</button>
  </div>
{{ form_end(conferenceForm) }}
