{% if conference.submissions|length > 0 %}
  <p>Below is a list of all the submissions to the {{ conference }}. Using the dropdown menus above you can filter the list by keyword and status. Keywords are entered by users when they submit their paper, but can then be edited here however you wish. Users will not see the modifications you make to their keywords.</p>
  <p>Click on the title of a submission to view more details and download the paper. From there you can also manage the reviews for that paper, enter your decision, and send an email informing the user of that decision.</p>
  <div class="list" id="submissions">
    {% for submission in conference.submissions %}
      <div class="submission" data-status="{{ submission.status }}" data-keyword="{{ submission.keywords }}">
        <div class="submission-heading">
          <div class="title">
            <h3><a href="{{ path('admin_conference_submission_view', { submission: submission.id }) }}">{{ submission.id }}. {{ submission.title }}</a></h3>
            <h4>by {{ submission.authors }} (submitted by {{ submission.user.fullname }})</h4>
          </div>
          {% include 'admin/conference/submission/_invitation-status.twig' with { invitation: submission } %}
        </div>
        <div class="submission-body view-type active" data-type="keywords">
          <input type="text" value="{{ submission.keywords }}" data-keywords="{{ submission.id }}">
        </div>
        <div class="submission-body view-type" data-type="reviews">
          {% if submission.reviews|length > 0 %}
            {% for review in submission.reviews %}
              <div class="review-summary">
                <div class="user">{{ review.user }}</div>
                {% include 'admin/conference/submission/_invitation-status.twig' with { invitation: review } %}
              </div>
            {% endfor %}
          {% else %}
            <p>No one has been invited to review this submission.</p>
          {% endif %}
        </div>
        <div class="submission-body view-type" data-type="reminders">
          {% if submission.status == 'accepted' and submission.decisionEmailed %}
            <div class="reminder">
              <a href="{{ path('admin_conference_submission_email_submission_reminder', { submission: submission.id }) }}" class="button">email reminder</a>
              {% include 'admin/conference/submission/_reminder-summary.twig' with { invitation: submission } %}
            </div>
          {% else %}
            <p>No reminders can be sent for this submission.</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>There are no submissions for the {{ conference }}.</p>
{% endif %}
