{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Comments{% endblock %}

{% block main %}
  {% embed 'admin/_embed/submission-box.twig' %}
    {% block body %}
      {% if submission.comment %}
        <h2>Commentator Assigned</h2>
        <p>{{ submission.comment.user }} has accepted the invitation to comment on this paper.</p>
        {% if submission.comment.submitted %}
          <p>{{ submission.comment.user }} has submitted their comments: <a href="{{ path('uploads_comments', { comments: submission.comment.id }) }}"></a>.</p>
        {% else %}
          <p>{{ submission.comment.user }} has not yet submitted their comments. <a href="">Send a reminder email</a>.</p>
        {% endif %}
      {% else %}
        <h2>Invite Someone to Comment on this Paper</h2>
        {% include 'admin/_form/invitation-existing.twig' %}
        {% include 'admin/_form/invitation-new.twig' %}
        <h2>Current Invitations</h2>
        {% if submission.comments|length > 0 %}
          <div class="list">
            {% for comment in submission.comments %}
              <div class="list-item">
                <div class="heading">
                  <div class="left">
                    <h3>{{ comment.user }}</h3>
                  </div>
                  <div class="right"><a href="" class="button">email reminder</a></div>
                  <div class="right"><i class="{{ comment.statusIcon }}"></i> {{ comment.status }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No one has been invited to comment on this paper.</p>
        {% endif %}
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
