{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Decision{% endblock %}

{% block main %}
  {% embed 'admin/_embed/submission-box.twig' %}
    {% block body %}
      {% if submission.decisionEmailed %}
        <h2>Decision Recorded</h2>
        <p>This paper has been {{ submission.status }}, and {{ submission.user }} was informed of the decision on {{ submission.dateDecisionEmailed|date('m-d-Y') }}.</p>
      {% else %}
        <h2>Record Your Decision</h2>
        <p>Use the dropwdown menu below to record your decision for this paper. Decisions recorded here are provisional and can be changed at any time. Once you send the decision email, however, the decision will be considered final and you will no longer be able to change it.</p>
        <div class="inline-form">
        {{ form_start(submissionDecisionForm) }}
          {{ form_row(submissionDecisionForm.accepted) }}
          {{ form_row(submissionDecisionForm._token) }}
          <div class="buttons">
            <button type="submit" class="button update">Update Decision</button>
            {% if submission.status != 'pending' %}
              <a href="{{ path('admin_conference_submission_email_submission_decision', { submission: submission.id }) }}" class="button">Send Decision Email</a>
            {% else %}
              <button disabled>Send Decision Email</button>
            {% endif %}
          </div>
        {{ form_end(submissionDecisionForm) }}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
