{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Details{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}{{ submission }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_submission_view') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Submissions</a>
      </div>
    {% endblock %}
    {% block body %}
      <h3>1. Submission</h3>
      <table>
        <tbody>
          <tr><th>Title</th><td>{{ submission.title }}</td></tr>
          <tr><th>File</th><td><a href="{{ path('uploads_submission', { submission: submission.id }) }}">{{ submission.filename }}</a></td></tr>
          <tr><th>Keywords</th><td><input type="text" value="{{ submission.keywords }}" data-keywords="{{ submission.id }}"></td></tr>
          <tr><th>Abstract</th><td>{{ submission.abstract }}</td></tr>
        </tbody>
      </table>
      <h3>2. Review</h3>
      <p>TODO</p>
      <h3>3. Decision</h3>
      <p>TODO</p>
    {% endblock %}
  {% endembed %}
{% endblock %}
