{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Reviews{% endblock %}

{% block main %}
  {% embed 'admin/_embed/submission-box.twig' %}
    {% block body %}
      <h2>Invite Someone to Review this Paper</h2>
      {% include 'admin/_form/invitation-existing.twig' %}
      {% include 'admin/_form/invitation-new.twig' %}
      <h2>Current Invitations</h2>
      {% if submission.reviews|length > 0 %}
        <div class="list">
          {% for review in submission.reviews %}
            <div class="invitation">
              <div class="invitation-heading">
                <div class="title">
                  <h3>{{ review.user }}</h3>
                  <h4>Invitation sent on {{ review.dateInvitationSent|date('m/d/Y') }}
                </div>
                {% include 'admin/conference/submission/_invitation-status.twig' with { invitation: review } %}
              </div>
              <div class="invitation-body">
                <div class="actions">
                  <div class="action">
                    <a href="{{ path('invitation_review', { secret: review.secret }) }}" class="button create">View Invitation Page</a>
                  </div>
                  {% if review.status == 'submitted' %}
                    <div class="action">
                      <span>Grade: {{ review.grade }}</span>
                      <a data-action="toggle-review-comments" data-review="{{ review.id }}">Show Comments</a>
                    </div>
                  {% elseif review.status == 'pending' or review.status == 'accepted' %}
                    <div class="action">
                      <a href="{{ path('admin_conference_submission_email_review_reminder', { review: review.id }) }}" class="button">Email Reminder</a>
                      {% include 'admin/conference/submission/_reminder-summary.twig' with { invitation: review } %}
                    </div>
                  {% endif %}
                  <div class="action">
                    <a href="{{ path('admin_conference_submission_delete_review', { submission: submission.id, review: review.id }) }}" class="button delete">Delete Invitation</a>
                  </div>
                </div>
                {% if review.submitted %}
                  <div class="review-comments" data-review="{{ review.id }}">
                    <pre>{{ review.comments }}</pre>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no review invitations for this submission. Use the forms above to invite someone to review.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
