{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Reviews{% endblock %}

{% block main %}
  {% embed 'admin/_embed/submission-box.twig' %}
    {% block body %}
      <h2>Invite Someone to Review this Paper</h2>
      {% include 'admin/_form/invitation-existing.twig' %}
      {% include 'admin/_form/invitation-new.twig' %}
      <h2>Current Invitations</h2>
      {% if submission.reviews|length > 0 %}
        <div class="list">
          {% for review in submission.reviews %}
            <div class="list-item">
              <div class="heading">
                <div class="left">
                  <h3>{{ review.user }}</h3>
                </div>
                {% if review.status == 'submitted' %}
                  <div class="right reminder">Grade: {{ review.grade }} <a data-action="toggle-review-comments">Show Comments</a></div>
                {% elseif review.status == 'pending' or review.status == 'accepted' %}
                  <div class="right reminder">
                    <a href="{{ path('admin_conference_submission_email_review_reminder', { review: review.id }) }}" class="button">email reminder</a>
                    {% include 'admin/_include/reminder-summary.twig' with { invitation: review } %}
                  </div>
                {% endif %}
                <div class="right status"><i class="{{ review.statusIcon }}"></i> {{ review.status }}</div>
                <div class="right delete">
                  <a href="{{ path('admin_conference_submission_delete_review', { submission: submission.id, review: review.id }) }}" class="button delete"><i class="fas fa-times"></i><br>delete</a>
                </div>
              </div>
              {% if review.submitted %}
                <div class="review-comments">
                  <pre>{{ review.comments }}</pre>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no review invitations for this submission. Use the forms above to invite someone to review.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
