{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Details{% endblock %}

{% block main %}
  {% embed 'admin/_embed/submission-box.twig' %}
    {% block body %}
      <h2>Submission Details</h2>
      <table>
        <tbody>
          <tr><th>Title</th><td>{{ submission }}</td></tr>
          <tr><th>Original File</th><td><a href="{{ path('uploads_submission', { submission: submission.id }) }}">{{ submission.filename }}</a></td></tr>
          <tr><th>Final File</th><td>{% if submission.status == 'submitted' %}<a href="{{ path('uploads_final_submission', { submission: submission.id }) }}">{{ submission.finalFilename }}</a>{% else %}-{% endif %}</td></tr>
          <tr><th>Authors</th><td>{{ submission.authors }}</td></tr>
          <tr><th>Submitted By</th><td>{{ submission.user }}</td></tr>
          <tr><th>Keywords</th><td><input type="text" value="{{ submission.keywords }}" data-keywords="{{ submission.id }}"></td></tr>
          <tr><th>Abstract</th><td>{{ submission.abstract }}</td></tr>
        </tbody>
      </table>
    {% endblock %}
  {% endembed %}
{% endblock %}
