<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Authors</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for article in issue.articles %}
      <tr>
        <td>{{ article.position }}</td>
        <td class="controls">
          {% if article.position > 1 %}
            <a class="control" title="Move Up" href="{{ path('admin_journal_article_up', { id: article.id }) }}"><span class="icon"><i class="fas fa-caret-up"></i></span></a>
          {% endif %}
        </td>
        <td class="controls">
          {% if not loop.last %}
            <a class="control" title="Move Down" href="{{ path('admin_journal_article_down', { id: article.id }) }}"><span class="icon"><i class="fas fa-caret-down"></i></span></a>
          {% endif %}
        </td>
        <td><a href="/uploads/issues/v{{ article.issue.volume }}n{{ article.issue.number }}/{{ article.filename }}">{{ article.title|raw }}</a></td>
        <td style="white-space:nowrap;">{{ article.authors }}</td>
        <td class="controls">
          <a href="{{ path('admin_journal_article_edit', { id: article.id }) }}">Edit</a>
          <a href="{{ path('admin_journal_article_delete', { id: article.id }) }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
