{% extends 'admin/content/_layout.twig' %}

{% block title %}Delete News Item{% endblock %}

{% block main %}
  <div class="box content">
    <div class="heading">
      <h5>Delete "{{ newsItem }}" ({{ newsItem.date | date('m/d/Y') }})</h5>
      <div class="heading-right">
        <a href="{{ path('admin_content_news-item_view', { category: newsItem.category }) }}" class="button"><i class="fas fa-chevron-left"></i> Back to News Item List</a>
      </div>
    </div>
    <p>Are you sure you want to delete this news item? This action cannot be undone!</p>
    {{ form_start(newsItemForm) }}
      {{ form_row(newsItemForm._token) }}
      <div class="buttons">
        <button type="submit">Delete</button>
      </div>
    {{ form_end(newsItemForm) }}
  </div>
{% endblock %}
