{% extends 'tech/base.twig' %}

{% block title %}Conference Invitations{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Conference Invitations{% endblock %}
    {% block body %}
      <nav class="tabs">
        <a data-tab="reviews" class="is-active">Reviews</a>
        <a data-tab="comments">Comments</a>
        <a data-tab="chairs">Chairs</a>
        <a data-tab="papers">Papers</a>
      </nav>
      <div class="tab-panes">
        <div class="tab-pane is-active" id="reviews">
          {% if reviews|length > 0 %}
            <ul>
              {% for review in reviews %}
                <li><a href="{{ path('invitation_review', { secret: review.secret }) }}">{{ review }}</a> ({{ review.status }})</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>There are no review invitations for the current conference.</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="comments">
          {% if comments|length > 0 %}
            <ul>
              {% for comment in comments %}
                <li><a href="{{ path('invitation_comment', { secret: comment.secret }) }}">{{ comment }}</a> ({{ comment.status }})</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>There are no comment invitations for the current conference.</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="chairs">
          {% if chairs|length > 0 %}
            <ul>
              {% for chair in chairs %}
                <li><a href="{{ path('invitation_chair', { secret: chair.secret }) }}">{{ chair }}</a> ({{ chair.status }})</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>There are no chair invitations for the current conference.</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="papers">
          {% if papers|length > 0 %}
            <ul>
              {% for paper in papers %}
                <li><a href="{{ path('invitation_paper', { secret: paper.secret }) }}">{{ paper }}</a> ({{ paper.status }})</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>There are no paper invitations for the current conference.</p>
          {% endif %}
        </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
