{% extends 'site/security/_layout.twig' %}

{% block title %}Join the Society{% endblock %}

{% block main %}
  <div class="section content">
    <h1>Join the Society</h1>
    <p>To join the Hume Society, please submit the short form below to create an account on this site, after which you will be taken to a secure form for paying the membership fee. Membership grants you access to restricted parts of this site, showing special offers for members, society information, forms for taking part in committee elections, etc. It also comes with a subscription to the journal <i>Hume Studies</i>, and access to the full online archive.</p>
    <p>Membership costs $35 a year ($25 for students), or $150 for five years. There is a 25% discount for two-year membership (i.e. $52.50 for two years, $37.50 for students).</p>
    {{ form_start(registrationForm) }}
      {{ form_row(registrationForm.username) }}
      {{ form_row(registrationForm.email) }}
      <div class="columns">
        <div class="column">
          {{ form_row(registrationForm.firstname) }}
        </div>
        <div class="column">
          {{ form_row(registrationForm.lastname) }}
        </div>
      </div>
      {{ form_row(registrationForm.country) }}
      <div class="columns">
        <div class="column">
          {{ form_row(registrationForm.password.first) }}
        </div>
        <div class="column">
          {{ form_row(registrationForm.password.second) }}
        </div>
      </div>
      {{ form_row(registrationForm._token) }}
      <div class="buttons">
        <button type="submit" class="button is-success">Register</button>
      </div>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
