{% extends 'admin/journal/_layout.twig' %}

{% block title %}Delete Article{% endblock %}

{% block main %}
  <div class="box content">
    <div class="heading">
      <h5>Delete Article {{ article }}</h5>
      <div class="heading-right">
        <div class="input">
          <a href="{{ path('admin_journal_issue_edit', { id: article.issue.id, tab: 'articles' }) }}" class="button"><i class="fas fa-chevron-left"></i> Back to Issue {{ article.issue.volume }}.{{ article.issue.number }}</a>
        </div>
      </div>
    </div>
    <p>Are you sure you want to delete this article? This action cannot be undone!</p>
    {{ form_start(articleForm) }}
      {{ form_row(articleForm._token) }}
      <div class="buttons">
        <button type="submit">Delete</button>
      </div>
    {{ form_end(articleForm, { render_rest: false }) }}
  </div>
{% endblock %}
