<p>Please provide the Hume Society with an up to date record of your contact details. We will not share this information with anyone else.</p>
{{ form_start(userDetailsForm) }}
  {{ form_row(userDetailsForm.email) }}
  <div class="columns">
    <div class="column">
      {{ form_row(userDetailsForm.firstname) }}
    </div>
    <div class="column">
      {{ form_row(userDetailsForm.lastname) }}
    </div>
  </div>
  <div class="columns">
    <div class="column">
      {{ form_row(userDetailsForm.department) }}
    </div>
    <div class="column">
      {{ form_row(userDetailsForm.institution) }}
    </div>
  </div>
  <div class="columns">
    <div class="column">
      {{ form_row(userDetailsForm.city) }}
    </div>
    <div class="column">
      {{ form_row(userDetailsForm.state) }}
    </div>
  </div>
  {{ form_row(userDetailsForm.country) }}
  <div class="columns">
    <div class="column">
      {{ form_row(userDetailsForm.officePhone) }}
    </div>
    <div class="column">
      {{ form_row(userDetailsForm.homePhone) }}
    </div>
  </div>
  <div class="columns">
    <div class="column">
      {{ form_row(userDetailsForm.fax) }}
    </div>
    <div class="column">
      {{ form_row(userDetailsForm.webpage) }}
    </div>
  </div>
  {{ form_row(userDetailsForm._token) }}
  <div class="buttons">
    <button type="submit" class="button is-success">Update Details</button>
  </div>
{{ form_end(userDetailsForm) }}
