<ul>
  <li>{% verbatim %}{{ ordinal }}{% endverbatim %} - {{ conference.ordinal }}</li>
  <li>{% verbatim %}{{ town }}{% endverbatim %} - {{ conference.town }}</li>
  <li>{% verbatim %}{{ country }}{% endverbatim %} - {{ countries[conference.country] }}</li>
</ul>
