{{ form_start(emailForm) }}
  {{ form_row(emailForm.sender) }}
  <label>To</label>
  <div class="columns has-checkboxes">
    <div class="column has-checkbox">
      {{ form_row(emailForm.current) }}
    </div>
    <div class="column has-checkbox">
      {{ form_row(emailForm.lapsed) }}
    </div>
    <div class="column has-checkbox">
      {{ form_row(emailForm.declining) }}
    </div>
  </div>
  {{ form_row(emailForm.subject) }}
  {{ form_row(emailForm.attachment) }}
  {{ form_row(emailForm.content) }}
  {{ form_row(emailForm._token) }}
  <div class="buttons">
    <button type="submit" class="button create">Send Email</button>
  </div>
{{ form_end(emailForm) }}
