{{ form_start(form) }}
  {{ form_row(form.sender) }}
  <label>To</label>
  <div class="columns has-checkboxes">
    <div class="column has-checkbox">
      {{ form_row(form.current) }}
    </div>
    <div class="column has-checkbox">
      {{ form_row(form.lapsed) }}
    </div>
    <div class="column has-checkbox">
      {{ form_row(form.declining) }}
    </div>
  </div>
  {{ form_row(form.subject) }}
  {{ form_row(form.attachment) }}
  {{ form_row(form.content) }}
  {{ form_row(form._token) }}
  <div class="buttons">
    <button type="submit">Send Email</button>
  </div>
{{ form_end(form) }}
