{% if conference.papers|length > 0 %}
  <div class="list">
    {% for paper in conference.papers %}
      <div class="invitation">
        <div class="invitation-heading">
          <div class="title">
            <h3>{{ paper }}, by {{ paper.user }}</h3>
            <h4>Invitation sent on {{ paper.dateInvitationSent|date('m/d/Y') }}</h4>
          </div>
          {% include 'conference/submission/_invitation-status.twig' with { invitation: paper } %}
        </div>
        <div class="invitation-body">
          <div class="actions">
            <div class="action">
              <a href="{{ path('invitation_paper', { secret: paper.secret }) }}" class="button create">View Invitation Page</a>
            </div>
            {% if paper.status == 'submitted' %}
              <div class="action">
                <a href="{{ path('uploads_paper', { paper: paper.id }) }}">Download Paper</a>
              </div>
            {% elseif paper.status == 'pending' %}
              <div class="action">
                <a href="{{ path('conference_paper_reminder', { paper: paper.id }) }}" class="button">email reminder</a>
                {% include 'conference/submission/_reminder-summary.twig' with { invitation: paper } %}
              </div>
            {% endif %}
            <div class="action">
              <a href="{{ path('conference_paper_delete', { paper: paper.id }) }}" class="button delete">Delete Invitation</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>You have not invited anyone to speak at the {{ conference }}.</p>
{% endif %}
