{% extends 'admin/society/_layout.twig' %}

{% block title %}Member Details{% endblock %}

{% block main %}
  <div class="box content">
    <div class="heading">
      <h5>Details for {{ user.username }}</h5>
      <div class="heading-right">
        <div class="input">
          <a href="{{ path('admin_society_member_view') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Member List</a>
        </div>
      </div>
    </div>
    <table>
      <tbody>
        <tr><th>Name</th><td style="width:80%">{{ user.firstname }} {{ user.lastname }}</td></tr>
        <tr><th>Email</th><td>{{ user.email }}</td></tr>
        <tr><th>Date Joined</th><td>{{ user.dateJoined | date('m-d-Y') }}</td></tr>
        <tr><th>Dues</th><td>{{ user.dues | date('F Y') }}</td></tr>
        <tr><th>Lifetime Member</th><td>{% if user.lifetimeMember %}yes{% else %}no{% endif %}</td></tr>
        <tr><th>Receives Email</th><td>{% if user.receiveEmail %}yes{% else %}no{% endif %}</td></tr>
        <tr><th>Receives Hume Studies</th><td>{% if user.receiveHumeStudies %}yes{% else %}no{% endif %}</td></tr>
        <tr><th>Department</th><td>{{ user.department }}</td></tr>
        <tr><th>Institution</th><td>{{ user.institution }}</td></tr>
        <tr><th>City</th><td>{{ user.city }}</td></tr>
        <tr><th>State</th><td>{{ user.state }}</td></tr>
        <tr><th>Country</th><td>{{ user.country }}</td></tr>
        <tr><th>Office Phone</th><td>{{ user.officePhone }}</td></tr>
        <tr><th>Home Phone</th><td>{{ user.homePhone }}</td></tr>
        <tr><th>Fax</th><td>{{ user.fax }}</td></tr>
        <tr><th>Web Page</th><td>{{ user.webpage }}</td></tr>
        <tr><th>Mailing Address</th><td><pre>{{ user.mailingAddress }}</pre></td></tr>
      </tbody>
    </table>
  </div>
{% endblock %}
