<p>When creating a new election, you need only specify the year. This should be <em>the first year of the relevant term of office</em>, rather than the present year; typically this will be the year <em>after</em> the present year.</p>
<p>The votes for each election are counted automatically while it is running, and the population set when the election is closed. You should not need to edit these manually, but you can if you wish.</p>
{{ form_start(electionForm) }}
  {{ form_row(electionForm.year) }}
  <div class="columns">
    <div class="column">
      {{ form_row(electionForm.votes) }}
    </div>
    <div class="column">
      {{ form_row(electionForm.population) }}
    </div>
  </div>
  {{ form_row(electionForm._token) }}
  <div class="buttons">
    <button class="button {% if create is defined and create %}create{% else %}update{% endif %}" type="submit">{% if create is defined and create %}Create{% else %}Update{% endif %}</button>
  </div>
{{ form_end(electionForm) }}
