<table class="loading" id="pages">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Section</th>
      <th>Slug</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
      <tr data-section="{{ page.section }}">
        <td>{{ page.position }}</td>
        <td class="controls">
          {% if page.position > 2 %}
            <a class="control" title="Move Up" href="{{ path('admin_content_page_up', { id: page.id }) }}"><span class="icon"><i class="fas fa-caret-up"></i></span></a>
          {% endif %}
        </td>
        <td class="controls">
          {% if page.position > 1 and not loop.last %}
            <a class="control" title="Move Down" href="{{ path('admin_content_page_down', { id: page.id }) }}"><span class="icon"><i class="fas fa-caret-down"></i></span></a>
          {% endif %}
        </td>
        <td>/{{ page.section }}</td>
        <td>/{{ page.slug }}</td>
        <td style="width:100%">{{ page.title }}</td>
        <td class="controls">
          <a class="control" href="{{ path('admin_content_page_edit', { id: page.id }) }}">Edit</a>
          {% if page.slug != 'index' %}
            <a class="control" href="{{ path('admin_content_page_delete', { id: page.id }) }}">Delete</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
