{% extends 'admin/conference/_layout.twig' %}

{% block title %}Emails{% endblock %}

{% block main %}
  <div class="box content">
    <h5>Emails</h5>
    <h6><a href="{{ path('admin_conference_email_edit', { type: 'submission' }) }}">Edit Submission Acknowledgement Email</a></h6>
    <p>The submission acknowledgement email is sent out to a user when they submit a paper for the Hume Conference.</p>
    <h6><a href="{{ path('admin_conference_email_edit', { type: 'review' }) }}">Edit Review Invitation Email</a></h6>
    <p>The review invitation email is sent out to someone you invite to review a paper.</p>
    <h6><a href="{{ path('admin_conference_email_edit', { type: 'thanks' }) }}">Edit Review Acknowledgement Email</a></h6>
    <p>The review acknowledgement email is sent out to a reviewer when they have submitted their review.</p>
    <h6><a href="{{ path('admin_conference_email_edit', { type: 'accept' }) }}">Edit Submission Acceptance Email</a></h6>
    <p>The acceptance email is sent out to a user when you accept their paper.</p>
    <h6><a href="{{ path('admin_conference_email_edit', { type: 'reject' }) }}">Edit Submission Rejection Email</a></h6>
    <p>The rejection email is sent out to a user when you reject their paper.</p>
  </div>
{% endblock %}
