{% extends 'email/base.twig' %}

{% block image %}{{ image }}{% endblock %}

{% block content %}
  <p>{{ chair.user }} has {{ response }} the invitation to chair the session for the paper {{ comment.submission }} by {{ comment.submission.authors }}.</p>
{% endblock %}
