{% extends 'email/base.twig' %}

{% block image %}{{ image }}{% endblock %}

{% block content %}
  <p>Dear {{ user.firstname }} {{ user.lastname }},</p>
  <p>We have received a request to send you your login credentials for the Hume Society web site. Your username is &ldquo;{{ user.username }}&rdquo;. If you wish to reset your password, please click on the button below.</p>
  <div style="text-align: center; margin: 1em 0;">
    <a href="https://www.humesociety.org/reset/{{ user.username }}/{{ user.passwordResetSecret }}" style="background: #212f4b; color:#fff; text-decoration: none; padding: .5em 1em; display: inline-block;">Reset Password</a>
  </div>
  <p>If you did not request this information, you can safely ignore this email. No one else will see the link to reset your password, and it will only remain active for 12 hours.</p>
  <p>Thank you,</p>
  <p>Amyas Merivale<br>Technical Director, The Hume Society</p>
{% endblock %}
