{% extends 'email/base.twig' %}

{% block image %}{{ image }}{% endblock %}

{% set conference = submission.conference %}

{% block content %}
  <p>{{ paper.user }} has just submitted their paper for the {{ conference }}.</p>
  <p><strong>Title:</strong> {{ paper.title }}</p>
  <p><strong>Abstract:</strong> {{ paper.abstract }}</p>
{% endblock %}
