{% extends 'email/base.twig' %}

{% block image %}{{ image }}{% endblock %}

{% block content %}
  <p>{{ review.user }} has submitted their review of the paper {{ review.submission }} by {{ review.submission.authors }}. They graded it {{ review.grade }}, and their comments were as follows:</p>
  <pre style="font-size: 16px; font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, sans-serif; line-height: 1.5; color: #282828;">{{ review.comments }}</pre>
{% endblock %}
