{% extends 'email/base.twig' %}

{% block image %}{{ image }}{% endblock %}

{% block content %}
  <p>{{ review.reviewer }} has submitted their review of the paper “{{ review.submission }}”. They graded it {{ review.grade }}, and their comments were as follows:</p>
  <pre>{{ review.comments }}</pre>
{% endblock %}
