{% extends 'site/home/_layout.twig' %}

{% block main %}
  <div class="columns">
    <div class="column">
      <h3>Society News</h3>
      {% if newsItems %}
        {% for item in newsItems %}
          <h4>{{ item.title }}</h4>
          {{ item.content | raw }}
        {% endfor %}
      {% else %}
        <p>There is no news at the moment.</p>
      {% endif %}
    </div>
    <div class="column">
      <div class="hero" style="margin-top:0">
        <h3>{{ conference.ordinal }} International Hume Society Conference</h3>
        <h4>{{ conference.town }}, {{ conference.country }}</h4>
        {% if conference.splash %}
          <img src="{{ conference.splash.url }}" alt="{{ conference.town }}">
        {% endif %}
        <p>
          {% if conference.startDate %}
            {{ conference.startDate | date('M') }} {{ conference.startDate | date('d') }} - {{ conference.endDate | date('M') }} {{ conference.endDate | date('d') }}, {{ conference.year }}
          {% else %}
            {{ conference.year }}
          {% endif %}
        </p>
        {% if conference.cfp or conference.website %}
          <div class="links">
            {% if conference.cfp %}
              <a href="{{ conference.cfp.url }}">Call for Papers</a>
            {% endif %}
            {% if conference.website %}
              <a href="{{ conference.website }}">Conference Website</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if not is_granted('ROLE_MEMBER') %}
    <div class="join-button">
      <a class="button" href="{{ path('security_register') }}">Join the Society</a>
    </div>
  {% endif %}
{% endblock %}
