{% set submissions = app.user.submissions(conference) %}

<h4>Submissions to the {{ conference }}</h4>
{% if conference.isOpen %}
  {% if submissions|length == 0 %}
    <p class="conference-notice">Submissions for the {{ conference }} in {{ conference.town }} are now open. They will remain open until midnight (Eastern Time) on {{ conference.deadline|date('F jS') }}. Please submit your paper using the form below.</p>
    {% if guidanceText is defined %}{{ guidanceText|raw }}{% endif %}
    {% include 'site/_form/conference-submission.twig' %}
  {% endif %}
{% elseif conference.isClosed %}
  <p class="conference-notice">Submissions for the {{ conference }} in {{ conference.town }} are now closed.</p>
{% else %}
  <p class="conference-notice">Submissions for the {{ conference }} in {{ conference.town }} are not yet open. Please check back here later, or watch your email for announcements.</p>
{% endif %}
{% if submissions|length > 0 %}
  <p>Thank you for your submission to the {{ conference }}. You can check the status of your paper below.</p>
  {% include('site/_include/user-submissions.twig') %}
{% endif %}
