<h3>{{ conference.ordinal }} International Hume Society Conference</h3>
<h4>{{ conference.town }}, {{ countries[conference.country] }}</h4>
{% if conference.splash %}
  <img src="{{ conference.splash.url }}" alt="{{ conference.town }}">
{% endif %}
<p>{{ conference.dates }}</p>
{% if conference.cfp or conference.website or conference.isOpen %}
  <div class="links">
    {% if conference.cfp %}
      <a href="{{ conference.cfp.url }}">Call for Papers</a>
    {% endif %}
    {% if conference.website %}
      <a href="{{ conference.website }}">Conference Website</a>
    {% endif %}
    {% if conference.site %}
      <a href="{{ conference.site.url }}">Conference Website Backup</a>
    {% endif %}
    {% if conference.isOpen %}
      <a href="{{ path('account_research', { tab: 'submissions' }) }}">Submit a Paper</a>
    {% endif %}
  </div>
{% endif %}
