{% extends 'admin/_layout-content.twig' %}

{% block title %}Pages{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Pages{% endblock %}
    {% block header_right %}
      {% if pages|length > 0 %}
        <div class="input">
          <label for="show-section">Section:</label>
          <select id="show-section" data-filter="section" data-table="pages">
            {% for id, s in sections %}
              <option value="{{ id }}"{% if section == id %} selected="selected"{% endif %}>{{ s }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
      <div class="input">
        <a href="{{ path('admin_page_create') }}" class="button create"{% if pages|length > 0 %} data-menu="show-section"{% endif %}><i class="fas fa-plus"></i> Create Page</a>
      </div>
    {% endblock %}
    {% block body %}
      <p>The Hume Society web site is divided into {{ sections | length }} separate sections: {% for section in sections %}{% if loop.last %}and {% endif %}<em>{{ section }}</em>{% if not loop.last %}, {% endif %}{% endfor %}. These sections are hardwired, but can be changed by the Technical Director on request. There is also a hardwired <em>Home</em> page, which displays current society news and information about the next conference. This can likewise be changed by the Technical Director on request. Pages within all the other sections can be edited here.</p>
      <p>Note that pages within the <em>Members</em> section are restricted to members in good standing who are signed up and logged in to the web site. Visitors who try to access these pages when they are not logged in, or are logged in but are not a member, or are logged in as a member in arrears, will instead see an appropriate message inviting them to log in, join the society, or pay their dues (as appropriate).</p>
      {% if pages|length > 0 %}
        {% include 'admin/page/_list.twig' %}
      {% else %}
        <p>There are no pages in the database.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
